absl-py==2.1.0
altair==5.2.0
annotated-types==0.7.0
ansi2html==1.8.0
anyio==4.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.0
astunparse==1.6.3
async-lru==2.0.4
attrs==23.2.0
Babel==2.13.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.7.0
blis==0.7.11
branca==0.8.1
Brotli==1.1.0
cachetools==5.3.2
catalogue==2.0.10
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.20.0
colorama==0.4.6
comm==0.1.4
confection==0.1.5
conllu==6.0.0
contourpy==1.2.0
cycler==0.12.1
cymem==2.0.11
dash==2.14.2
dash-bootstrap-components==1.3.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash_colorscales==0.0.4
dash_daq==0.5.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
dnspython==2.4.2
docopt==0.6.2
dtale==3.9.0
easy-ocr==0.1.1
en_core_sci_sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_sm-0.2.4.tar.gz#sha256=d4d5c5048b69ca79ce083b254f95c0c951d108d427fad0b32cc8847fe4ed25a0
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et-xmlfile==1.1.0
executing==2.0.0
Faker==33.1.0
fastjsonschema==2.18.1
fiona==1.9.5
Flask==2.2.5
Flask-Compress==1.14
flask-ngrok==0.0.25
flatbuffers==25.1.24
folium==0.19.4
fonttools==4.45.1
fqdn==1.5.1
future==0.18.3
fuzzywuzzy==0.18.0
gast==0.6.0
geopandas==0.14.2
gitdb==4.0.11
GitPython==3.1.40
google-ai-generativelanguage==0.6.15
google-api-core==2.14.0
google-api-python-client==2.108.0
google-auth==2.23.4
google-auth-httplib2==0.1.1
google-generativeai==0.8.4
google-pasta==0.2.0
googleapis-common-protos==1.61.0
graphviz==0.20.1
greenlet==3.0.1
grpcio==1.70.0
grpcio-status==1.62.3
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
idna==3.4
imbalanced-learn==0.11.0
importlib-metadata==6.8.0
ipykernel==6.25.2
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
jiter==0.8.2
joblib==1.4.0
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.4.0
jupyter_core==5.4.0
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.0
kaleido==0.2.1
keras==3.8.0
kiwisolver==1.4.5
langcodes==3.5.0
language_data==1.3.0
libclang==18.1.1
lz4==4.3.3
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mdurl==0.1.2
missingno==0.5.2
mistune==3.0.2
ml-dtypes==0.4.1
mlxtend==0.23.0
murmurhash==1.0.12
mysql-connector-python==8.2.0
namex==0.0.8
nbclient==0.8.0
nbconvert==7.16.3
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
nmslib-metabrainz==2.1.3
notebook==7.0.5
notebook_shim==0.2.3
numpy==1.26.1
openai==1.61.0
opencv-python==4.8.1.78
openpyxl==3.1.2
opt_einsum==3.4.0
optree==0.14.0
outcome==1.3.0.post0
overrides==7.4.0
packaging==23.2
pandas==2.1.2
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.6
pickleshare==0.7.5
Pillow==10.1.0
pipreqs==0.5.0
platformdirs==3.11.0
plotly==5.18.0
preshed==3.0.9
prometheus-client==0.17.1
prompt-toolkit==3.0.39
proto-plus==1.26.0
protobuf==4.21.12
psutil==5.9.5
pure-eval==0.2.2
pyaml==24.4.0
pyarrow==14.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.13.6
pycparser==2.21
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.8.1b0
Pygments==2.16.1
pymongo==4.6.1
PyMySQL==1.1.0
pyparsing==3.1.1
pyproj==3.6.1
pysbd==0.3.4
PySocks==1.7.1
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
pywinpty==2.0.12
pywsd==1.2.5
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.4.4
QtPy==2.4.0
referencing==0.30.2
regex==2023.12.25
requests==2.31.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.10.6
rsa==4.9
scikit-learn==1.4.2
scikit-optimize==0.10.1
scipy==1.11.4
scispacy==0.5.5
seaborn==0.13.0
selenium==4.21.0
Send2Trash==1.8.2
setuptools==69.0.3
shapely==2.0.2
shellingham==1.5.4
six==1.16.0
smart-open==7.1.0
smmap==5.0.1
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.23
squarify==0.4.3
srsly==2.5.1
stack-data==0.6.3
statsmodels==0.14.1
streamlit==1.28.2
streamlit-option-menu==0.3.6
strsimpy==0.2.1
tenacity==8.2.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-hub==0.16.1
tensorflow_intel==2.18.0
termcolor==2.5.0
terminado==0.17.1
tf_keras==2.18.0
thinc==8.2.5
threadpoolctl==3.2.0
tinycss2==1.2.1
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.11.2
trio==0.25.1
trio-websocket==0.11.1
typer==0.15.1
types-python-dateutil==2.8.19.14
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.0.6
validators==0.22.0
wasabi==1.1.3
watchdog==3.0.0
wcwidth==0.2.8
weasel==0.4.1
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.0.1
wheel==0.45.1
widgetsnbextension==4.0.9
wn==0.0.23
wordcloud==1.9.3
wrapt==1.17.2
wsproto==1.2.0
xarray==2023.12.0
xgboost==2.0.3
xlrd==2.0.1
xyzservices==2025.1.0
yarg==0.1.9
zipp==3.17.0
